macro_hamvf_path: macro_hamvf_path{
compatible = "zmk,behavior-macro";
label = "macro_hamvf_path";
#binding-cells = <0>;
bindings = <&kp S>, <&kp U>, <&kp B>, <&kp LS(I)>, <&kp LS(P)>, <&kp FSLH>, <&kp C>, <&kp O>, <&kp M>, <&kp M>, <&kp O>, <&kp N>, <&kp FSLH>, <&kp H>, <&kp A>, <&kp M>, <&kp V>, <&kp F>, <&kp FSLH>, <&kp H>, <&kp A>, <&kp M>, <&kp V>, <&kp F>, <&kp UNDERSCORE>, <&kp C>, <&kp U>, <&kp R>, <&kp R>, <&kp E>, <&kp N>, <&kp T>;
};
macro_workarea: macro_workarea{
compatible = "zmk,behavior-macro";
label = "macro_workarea";
#binding-cells = <0>;
bindings = <&kp E>, <&kp X>, <&kp P>, <&kp O>, <&kp R>, <&kp T>, <&kp SPACE>, <&kp LS(W)>, <&kp LS(O)>, <&kp LS(R)>, <&kp LS(K)>, <&kp LS(A)>, <&kp LS(R)>, <&kp LS(E)>, <&kp LS(A)>, <&kp EQUAL>, <&kp GRAVE>, <&kp P>, <&kp W>, <&kp D>, <&kp GRAVE>, <&kp RETURN>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp LS(S)>, <&kp A>, <&kp L>, <&kp A>, <&kp R>, <&kp Y>, <&kp DOLLAR>, <&kp NUMBER_3>, <&kp NUMBER_0>, <&kp NUMBER_0>, <&kp K>, <&kp ENTER>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};